@import 'styles/variables';

.info-extra__content {
  @include transit(height, $long);
  overflow: hidden;
}

.info-extra__block {
  @include transit(opacity, $long);
  opacity: 0;

  .info-extra__content_open > & {
    opacity: 1;
  }
}