@import 'styles/variables';

.greeting__hello {
  margin-bottom: 0;
}

.greeting__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
}

.greeting__letter {
  @include animate(variousColors, 10s, 0ms, infinite);
  font-weight: 900;
}

