.greeting__title {
  font-size: 52px;
  line-height: 1.1;
  font-weight: 900; }
  @media (max-width: 1279px) {
    .greeting__title {
      font-size: 44px; } }
  @media (max-width: 599px) {
    .greeting__title {
      font-size: 36px; } }
  .greeting__title_name {
    font-weight: 300; }

.greeting__subtitle {
  animation-name: bounceInLeft;
  animation-duration: 800ms;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
  opacity: 0;
  position: relative;
  font-size: 30px;
  color: rgba(40, 44, 52, 0.6);
  font-weight: 300;
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (max-width: 1279px) {
    .greeting__subtitle {
      font-size: 26px; } }
  @media (max-width: 599px) {
    .greeting__subtitle {
      font-size: 22px; } }

.greeting__name {
  display: inline-block;
  opacity: 0; }
  .greeting__name_first {
    animation-name: bounceIn;
    animation-duration: 800ms;
    animation-delay: 1800ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: 1; }
  .greeting__name_last {
    animation-name: bounceIn;
    animation-duration: 800ms;
    animation-delay: 2200ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: 1; }

.greeting__letter {
  animation-name: variousColors;
  animation-duration: 10s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  font-weight: 900; }

.greeting__buttons {
  animation-name: bounceInUp;
  animation-duration: 800ms;
  animation-delay: 4500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
  transform: translate3d(0, 3000px, 0);
  opacity: 0; }
