.greeting__hello {
  margin-bottom: 0; }

.greeting__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300; }

.greeting__subtitle {
  margin-bottom: 20px; }

.greeting__letter {
  animation-name: variousColors;
  animation-duration: 10s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-direction: normal;
  animation-iteration-count: infinite;
  font-weight: 900; }
