@import 'styles/variables';

.contact-map {
  @include animate(bounceInRight, $long, 400ms);
  transform: translate3d(3000px, 0, 0);
  position: relative;
  height: 100%;
  @include sm {
    min-height: calc(100vh - #{$header-height});
    animation: none;
    transform: none;
  }
}