@import 'styles/variables';

.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: white;
  z-index: 1000;
  border-bottom: 3px solid white;

  .material-icons {
    color: white;
  }

  &_various {
    @include animate(variousBorderColors, 10s, 0ms, infinite);

    .material-icons {
      @include animate(variousColors, 10s, 0ms, infinite);
    }
  }

  &_page_portfolio {
    background-color: $blue;
  }

  &_page_contact {
    background-color: $green;
  }

  &_red {
    border-color: $red;
    background-color: white;
    .material-icons {
      color: $red;
    }
  }

  &_yellow {
    border-color: $yellow;
    background-color: white;
    .material-icons {
      color: $yellow;
    }
  }

  &_grass {
    border-color: $grass;
    background-color: white;
    .material-icons {
      color: $grass;
    }
  }

  &_green {
    border-color: $green;
    background-color: white;
    .material-icons {
      color: $green;
    }
  }

  &_blue {
    border-color: $blue;
    background-color: white;
    .material-icons {
      color: $blue;
    }
  }

  &_violet {
    border-color: $violet;
    background-color: white;
    .material-icons {
      color: $violet;
    }
  }
}

.header__drawer {
  @include transit(background-color);
  height: 100%;
  padding: 20px 0;
  overflow: hidden;

  &_page_portfolio {
    background-color: $blue;
  }

  &_page_contact {
    background-color: $green;
  }

  &_red,
  &_yellow,
  &_grass,
  &_green,
  &_blue,
  &_violet {
    background-color: white;
  }
}