$videos: 'day-in-a-life-montenegro', 'my-dreamdesk',
  'day-in-a-life-new-zealand', 'how-i-became-software-engineer';

.VideoLink-Tilt {
  overflow: hidden;
  border-radius: v.$border-radius;
}

.VideoLink-Item {
  aspect-ratio: 1 / 0.64;
  width: 100%;
  background-color: white;
  border-radius: v.$border-radius;
  overflow: hidden;
  &.Mui-focusVisible {
    .VideoLink-Content {
      opacity: 1;
    }
  }
  @media (hover: hover) {
    &:hover {
      .VideoLink-Content {
        opacity: 1;
      }
    }
  }
}

.VideoLink-View {
  width: 100%;
  height: 100%;
  @each $video in $videos {
    &_name_#{$video}::after {
      @include m.retinaImg($video, 'jpg', '/assets/videos');
    }
  }
  &::after {
    @include m.pseudo(relative);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.VideoLink-Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: white;
  opacity: 0;
  transition: opacity v.$duration_short v.$easing_in-out;
}

.VideoLink-Title {
  padding-top: 4px;
  font-size: 22px;
  line-height: 1.2;
  @each $key, $_, $secondValue in v.$colors-map {
    .ColorInteract_color_#{$key} & {
      color: $secondValue;
    }
  }
}

.VideoLink-Date {
  color: v.$color_second-text;
  justify-content: center;
}
