$videos: 'day-in-a-life-montenegro', 'my-dreamdesk', 'day-in-a-life-new-zealand',
  'how-i-became-software-engineer';

.VideoLink-Tilt {
  overflow: hidden;
  border-radius: $border-radius;
}

.VideoLink-Item {
  @include responsiveBlock(64%);
  width: 100%;
  background-color: white;
  border-radius: $border-radius;
  overflow: hidden;
  &::before {
    display: none;
  }
  &.Mui-focusVisible {
    .VideoLink-Content {
      opacity: 1;
    }
  }
  @include hover {
    .VideoLink-Content {
      opacity: 1;
    }
  }
}

.VideoLink-View {
  @each $video in $videos {
    &_name_#{$video}::after {
      @include retinaImg('@assets/img/videos/#{$video}', 'jpg');
    }
  }
  &::after {
    @include pseudo(relative);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.VideoLink-Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: white;
  opacity: 0;
  transition: opacity $duration_short $easing_in-out;
}

.VideoLink-Title {
  padding-top: 4px;
  font-size: 22px;
  line-height: 1.2;
  @each $key, $value, $secondValue in $colors-map {
    .ColorInteract_color_#{$key} & {
      color: $secondValue;
    }
  }
}

.VideoLink-Label {
  font-size: $font-size_smaller;
  color: $color_second-text;
  & > span:first-child {
    font-weight: bold;
  }
}
