@import 'styles/variables';
@import 'styles/mixins';

.Carousel {
  border-radius: $border-radius;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 48px;
  }
  &_type_desktop {
    @include responsiveBlock(70.35%);
    background-color: white;
  }
  &_type_mobile {
    position: relative;
    height: 462px;
    width: 219px;
    margin: auto;
  }
}

.Carousel-Block {
  .Carousel_type_desktop & {
    display: flex;
    height: 100%;
  }
  .Carousel_type_mobile & {
    position: relative;
    top: 64px;
    width: 193px;
    height: 335px;
    margin: auto;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
  }
}

.Carousel-Svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Carousel-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
