@import 'styles/variables';
@import 'styles/mixins';

$projects: 'msp', '7glyphs', 'lazyaz', 'lazyazd', 'whip', '12saffron', 'fcdc',
  'services', 'trucks', 'rogue', 'strong', 'sds', 'food', 'foodp', 'melissa',
  'lite', 'tmf', 'proximal', 'embp';

.ProjectLink-Tilt {
  overflow: hidden;
  border-radius: $border-radius;
}

.ProjectLink-Item {
  @include responsiveBlock(70.35%);
  @include hover {
    .ProjectLink-Content {
      opacity: 1;
    }
  }
  width: 100%;
  background-color: white;
  border-radius: $border-radius;
  overflow: hidden;
  &::before {
    display: none;
  }
}

.ProjectLink-View {
  @each $project in $projects {
    &_name_#{$project}::after {
      @include retinaImg('../assets/img/projects/#{$project}', 'jpg');
    }
  }
  &::after {
    @include pseudo(relative);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.ProjectLink-Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: white;
  opacity: 0;
  transition: opacity $duration_short $easing_in-out;
}

.ProjectLink-Company {
  height: 32px;
}

.ProjectLink-Title {
  padding-top: 4px;
  font-size: 20px;
  @each $key, $value, $secondValue in $colors-map {
    .ColorInteract_color_#{$key} & {
      color: $secondValue;
    }
  }
}

.ProjectLink-Label {
  font-size: $font-size_base;
  font-weight: 600;
  color: $color_second-text;
}
