.ProjectAssets-LogoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin-bottom: 40px;
}
