.portfolio__section {
  padding: 100px 5%;
  height: 100%; }

.portfolio__list {
  border-radius: 4px;
  overflow: hidden; }

.portfolio__project {
  position: relative;
  height: 100%;
  overflow: hidden; }

.portfolio__project-image {
  transition-property: transform;
  transition-duration: 800ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  .portfolio__project:hover .portfolio__project-image {
    transform: scale(1.2); }
  .portfolio__project-image_name_msp {
    background-image: url("./msp.jpg");
    background-color: #62a5fc; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_msp {
        background-image: url("./msp@2x.jpg"); } }
  .portfolio__project-image_name_7-glyphs {
    background-image: url("7-glyphs.jpg");
    background-color: #2db3a7; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_7-glyphs {
        background-image: url("./7-glyphs@2x.jpg"); } }
  .portfolio__project-image_name_lazy-az {
    background-image: url("lazy-az.jpg");
    background-color: #fa8861; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_lazy-az {
        background-image: url("./lazy-az@2x.jpg"); } }
  .portfolio__project-image_name_lazy-az-dashboard {
    background-image: url("lazy-az-dashboard.jpg");
    background-color: #f7bc3f; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_lazy-az-dashboard {
        background-image: url("./lazy-az-dashboard@2x.jpg"); } }
  .portfolio__project-image_name_whip-around {
    background-image: url("whip-around.jpg");
    background-color: #2db3a7; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_whip-around {
        background-image: url("./whip-around@2x.jpg"); } }
  .portfolio__project-image_name_12-saffron {
    background-image: url("12-saffron.jpg");
    background-color: #f7bc3f; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_12-saffron {
        background-image: url("./12-saffron@2x.jpg"); } }
  .portfolio__project-image_name_fcdc-dashboard {
    background-image: url("fcdc.jpg");
    background-color: #9170fb; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_fcdc-dashboard {
        background-image: url("./fcdc@2x.jpg"); } }
  .portfolio__project-image_name_service-packages {
    background-image: url("service-packages.jpg");
    background-color: #2db3a7; }
    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
      .portfolio__project-image_name_service-packages {
        background-image: url("./service-packages@2x.jpg"); } }
  .portfolio__project-image_name_my-portfolio {
    /* background-image: url('fcdc.jpg');*/
    background-color: #62a5fc;
    /* @include image-2x('./fcdc@2x.jpg');*/ }

.portfolio__project-content {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity;
  position: absolute;
  background-color: rgba(40, 44, 52, 0.8);
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0; }
  .portfolio__project:hover .portfolio__project-content {
    opacity: 1; }

.portfolio__project-title {
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  transform: translateY(-100%); }
  .portfolio__project:hover .portfolio__project-title {
    transform: translateY(0); }

.portfolio__project-block {
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  transform: translateY(50%); }
  .portfolio__project:hover .portfolio__project-block {
    transform: translateY(0); }
