@import 'styles/variables';

.portfolio__section {
  padding: 100px 5%;
  height: 100%;
}

.portfolio__list {
  border-radius: 4px;
  overflow: hidden;
}

.portfolio__project {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.portfolio__project-image {
  @include transit(transform, $long);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  .portfolio__project:hover & {
    transform: scale(1.2);
  }

  &_name_msp {
    background-image: url('./msp.jpg');
    background-color: $blue;
    @include image-2x('./msp@2x.jpg');
  }

  &_name_7-glyphs {
    background-image: url('7-glyphs.jpg');
    background-color: $dark-green;
    @include image-2x('./7-glyphs@2x.jpg');
  }

  &_name_lazy-az {
    background-image: url('lazy-az.jpg');
    background-color: $red;
    @include image-2x('./lazy-az@2x.jpg');
  }

  &_name_lazy-az-dashboard {
    background-image: url('lazy-az-dashboard.jpg');
    background-color: $yellow;
    @include image-2x('./lazy-az-dashboard@2x.jpg');
  }

  &_name_whip-around {
    background-image: url('whip-around.jpg');
    background-color: $dark-green;
    @include image-2x('./whip-around@2x.jpg');
  }

  &_name_12-saffron {
    background-image: url('12-saffron.jpg');
    background-color: $yellow;
    @include image-2x('./12-saffron@2x.jpg');
  }

  &_name_fcdc-dashboard {
    background-image: url('fcdc.jpg');
    background-color: $violet;
    @include image-2x('./fcdc@2x.jpg');
  }

  &_name_service-packages {
    background-image: url('service-packages.jpg');
    background-color: $dark-green;
    @include image-2x('./service-packages@2x.jpg');
  }

  &_name_my-portfolio {
   /* background-image: url('fcdc.jpg');*/
    background-color: $blue;
   /* @include image-2x('./fcdc@2x.jpg');*/
  }
}

.portfolio__project-content {
  @include transit(opacity);
  position: absolute;
  background-color: $black-80;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;

  .portfolio__project:hover & {
    opacity: 1;
  }
}

.portfolio__project-title {
  @include transit(transform, $standard);
  font-size: 18px;

  text-align: center;
  color: white;
  margin-bottom: 20px;
  transform: translateY(-100%);

  .portfolio__project:hover & {
    transform: translateY(0);
  }
}

.portfolio__project-block {
  @include transit(transform, $standard);
  transform: translateY(50%);

  .portfolio__project:hover & {
    transform: translateY(0);
  }
}