.portfolio__section {
  padding: 100px 5%;
  height: 100%; }
  @media (max-width: 959px) {
    .portfolio__section {
      padding: calc(80px + 75px) 40px 80px 40px; } }
  @media (max-width: 599px) {
    .portfolio__section {
      padding: calc(60px + 75px) 20px 60px 20px; } }

.portfolio__list {
  border-radius: 4px;
  overflow: hidden; }
