@import 'styles/variables';

.portfolio__section {
  padding: 100px 5%;
  height: 100%;
  @include sm {
    padding: calc(80px + #{$header-height}) 40px 80px 40px;
  }
  @include xs {
    padding: calc(60px + #{$header-height}) 20px 60px 20px;
  }
}

.portfolio__list {
  border-radius: 4px;
  overflow: hidden;
}

