@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    transform: translate3d(0, -$effect_delta, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d($effect_delta, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from {
    transform: translate3d(0, $effect_delta, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(-$effect_delta, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInZoomIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInZoomInSm {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInZoomOut {
  from {
    transform: scale(1.25);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInZoomOutSm {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes alternateColor {
  from {
    color: $color_blue;
    outline-color: $color_blue;
  }
  16.66% {
    color: $color_green;
    outline-color: $color_green;
  }
  33.33% {
    color: $color_grass;
    outline-color: $color_grass;
  }
  50% {
    color: $color_red;
    outline-color: $color_red;
  }
  66.66% {
    color: $color_yellow;
    outline-color: $color_yellow;
  }
  83.33% {
    color: $color_violet;
    outline-color: $color_violet;
  }
  to {
    color: $color_blue;
    outline-color: $color_blue;
  }
}

@keyframes alternateBackgroundColor {
  from {
    background-color: $color_blue;
  }
  16.66% {
    background-color: $color_green;
  }
  33.33% {
    background-color: $color_grass;
  }
  50% {
    background-color: $color_red;
  }
  66.66% {
    background-color: $color_yellow;
  }
  83.33% {
    background-color: $color_violet;
  }
  to {
    background-color: $color_blue;
  }
}

@keyframes alternateBackgroundOpacityColor {
  from {
    background-color: rgba($color_blue, $backdrop-opacity);
  }
  16.66% {
    background-color: rgba($color_green, $backdrop-opacity);
  }
  33.33% {
    background-color: rgba($color_grass, $backdrop-opacity);
  }
  50% {
    background-color: rgba($color_red, $backdrop-opacity);
  }
  66.66% {
    background-color: rgba($color_yellow, $backdrop-opacity);
  }
  83.33% {
    background-color: rgba($color_violet, $backdrop-opacity);
  }
  to {
    background-color: rgba($color_blue, $backdrop-opacity);
  }
}

@keyframes alternateBorderColor {
  from {
    border-color: $color_blue;
  }
  16.66% {
    border-color: $color_green;
  }
  33.33% {
    border-color: $color_grass;
  }
  50% {
    border-color: $color_red;
  }
  66.66% {
    border-color: $color_yellow;
  }
  83.33% {
    border-color: $color_violet;
  }
  to {
    border-color: $color_blue;
  }
}

@keyframes hello {
  from {
    transform: rotate(8deg) translate3d(2px, 0, 0);
  }
  12% {
    transform: rotate(-12deg) translate3d(-3px, 0, 0);
  }
  24% {
    transform: rotate(16deg) translate3d(4px, 0, 0);
  }
  36% {
    transform: rotate(-16deg) translate3d(-4px, 0, 0);
  }
  48% {
    transform: rotate(12deg) translate3d(3px, 0, 0);
  }
  60% {
    transform: rotate(-12deg) translate3d(-3px, 0, 0);
  }
  72% {
    transform: rotate(8deg) translate3d(2px, 0, 0);
  }
  to {
    transform: rotate(8deg) translate3d(2px, 0, 0);
  }
}

@keyframes ripple {
  from {
    transform: scale(0.85);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes rippleSmall {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
