@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes eyeBlink {
  from {
    transform: scaleY(1);
  }

  6% {
    transform: scaleY(0.1);
  }

  12% {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes variousColors {
  from {
    color: $red;
  }

  16.66% {
    color: $yellow;
  }

  33.33% {
    color: $grass;
  }

  50% {
    color: $green;
  }

  66.66% {
    color: $blue;
  }

  83.33% {
    color: $violet;
  }

  to {
    color: $red;
  }
}

@keyframes variousBackgroundColors {
  from {
    background-color: $red;
  }

  16.66% {
    background-color: $yellow;
  }

  33.33% {
    background-color: $grass;
  }

  50% {
    background-color: $green;
  }

  66.66% {
    background-color: $blue;
  }

  83.33% {
    background-color: $violet;
  }

  to {
    background-color: $red;
  }
}