html {
  font-size: $font-size_base;
  @include lg {
    font-size: $font-size_smaller;
  }
  @include md {
    font-size: $font-size_base;
  }
  @include sm {
    font-size: $font-size_smaller;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

a {
  user-select: none;
  text-decoration: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  pointer-events: none;
  user-select: none;
}

figure {
  margin: 0;
}

button {
  font: inherit;
}
