@use 'styles/variables' as v;

@mixin pseudo($pos: absolute, $display: block, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin pseudoGradient() {
  @include pseudo;
  background-image: linear-gradient(180deg, rgba(black, 0), rgba(black, 0.1));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin retinaImg($path, $file, $basePath: '/src') {
  background-image: url('#{$basePath}/#{$path}.#{$file}');
  @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('#{$basePath}/#{$path}@2x.#{$file}');
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin xs {
  @media (max-width: v.$breakpoint_xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: v.$breakpoint_sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: v.$breakpoint_md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: v.$breakpoint_lg) {
    @content;
  }
}

@mixin animation($animation, $delay: 0ms) {
  animation: $animation v.$duration_long v.$easing_in-out $delay both;
}

@mixin animationAlternate($animation: alternateColor) {
  animation: $animation v.$duration_alternate linear infinite;
}
