@mixin pseudo($pos: absolute, $display: block, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin retinaImg($path, $file) {
  background-image: url('#{$path}.#{$file}');
  @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('#{$path}@2x.#{$file}');
  }
}

@mixin responsiveBlock($percent: 100%) {
  position: relative;
  &::after {
    @include pseudo(relative);
    padding-bottom: $percent;
  }
  & > *:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

@mixin animationAlternate($animation: alternateColor) {
  animation: $animation $duration_alternate linear infinite;
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $breakpoint_xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $breakpoint_sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $breakpoint_md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $breakpoint_lg) {
    @content;
  }
}
