$fab-size_base: 56px;
$fab-size_mobile: 48px;

.MuiButton {
  &-root {
    transition: color $duration_short $easing_in-out,
      background-color $duration_short $easing_in-out,
      border $duration_short $easing_in-out;
  }

  &-containedSizeLarge {
    font-size: 1.125rem;
  }
}

.MuiFab {
  &-root:not(.MuiFab-sizeMedium) {
    width: $fab-size_base;
    height: $fab-size_base;

    @include lg {
      width: $fab-size_mobile;
      height: $fab-size_mobile;
    }

    @include md {
      width: $fab-size_base;
      height: $fab-size_base;
    }

    @include sm {
      width: $fab-size_mobile;
      height: $fab-size_mobile;
    }
  }
}

.MuiTooltip {
  &-tooltip {
    font-size: 14px;
    color: $color_text;
    background-color: white;
    border: 1px solid $color_text;
  }
}

.MuiIconButton {
  &-root {
    color: $color_second-text;
  }
}

.MuiChip {
  &-root {
    font-size: 14px;
    font-weight: 500;
    background-color: rgba($color_second-text, 0.12);
    color: $color_text;
    margin: 4px;
  }

  &-icon {
    color: $color_second-text;
    font-size: 24px;
  }
}

.MuiStepper {
  &-root {
    border-radius: $border-radius;
  }
}

.MuiStepLabel {
  &-label {
    font-size: 1rem;
  }
}

.MuiStepIcon {
  &-root {
    font-size: 24px;
  }

  &-text {
    font-size: 12px;
    font-weight: bold;
    fill: white;
  }

  &-completed {
    fill: $color_grass;
  }
}

.MuiCircularProgress {
  &-root {
    color: white;
  }
}

.MuiTextField {
  &-root {
    background-color: white;
    border-radius: $border-radius;
  }
}

.MuiFilledInput {
  &-root {
    @include hover {
      background-color: transparent;
    }
    border-radius: $border-radius;
    &.Mui-error {
      background-color: rgba($color_red, 0.12);
    }
    &,
    &.Mui-focused:not(.Mui-error) {
      background-color: transparent;
    }
  }
}

.MuiFormLabel {
  &-root.Mui-focused:not(.Mui-error) {
    color: $color_dark-green;
  }
}

.MuiInputAdornment {
  &-root {
    color: $color_default;
  }
}

.MuiTabs {
  &-indicator {
    background-color: white;
    height: 4px;
    border-radius: $border-radius / 4;
  }
}

.MuiTab {
  &-root {
    font-size: $font-size_base;
    color: white;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius / 4;
    border-bottom-right-radius: $border-radius / 4;

    @include sm {
      font-size: $font-size_mobile;
    }
  }
}

.MuiBackdrop {
  &-root {
    .App_color_alternate & {
      @include animationAlternate(alternateBackgroundOpacityColor);
    }
    .App_color_white & {
      background-color: rgba(white, $backdrop_opacity);
    }
    @each $key, $value in $colors-map {
      .App_color_#{$key} & {
        background-color: rgba($value, $backdrop_opacity);
      }
    }
  }
}
