.MuiFab {
  &-root:not(.MuiFab-sizeMedium) {
    @include lg {
      width: $fab-size_mobile;
      height: $fab-size_mobile;
    }
    @include md {
      width: $fab-size_base;
      height: $fab-size_base;
    }
    @include sm {
      width: $fab-size_mobile;
      height: $fab-size_mobile;
    }
  }
}

.MuiIconButton {
  &-root {
    @include hover {
      background-color: rgba($color_text, 0.04);
    }
  }
}

.MuiFilledInput {
  &-root {
    @include hover {
      background-color: transparent;
    }
  }
}

.MuiTab {
  &-root {
    @include sm {
      font-size: $font-size_smaller;
    }
  }
}

.MuiBackdrop {
  &-root {
    .App_color_alternate & {
      @include animationAlternate(alternateBackgroundOpacityColor);
    }
    .App_color_white & {
      background-color: rgba(white, $backdrop-opacity);
    }
    @each $key, $value in $colors-map {
      .App_color_#{$key} & {
        background-color: rgba($value, $backdrop-opacity);
      }
    }
  }
}
