.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.Section {
  position: relative;
  padding: 80px 10% 144px;
  height: 100%;
  &_single {
    padding-left: 5%;
    padding-right: 5%;
  }
  &_pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_colorful::before {
    @include pseudoGradient;
  }
  .App_color_alternate &_colorful {
    @include animationAlternate(alternateBackgroundColor);
  }
  @each $key, $value in $colors-map {
    .App_color_#{$key} &_colorful {
      background-color: $value;
    }
  }
  @include md {
    padding-left: 7.5%;
    padding-right: 7.5%;
    .Sections-SectionWrapper:first-child > & {
      padding-bottom: 80px;
    }
  }
  @include sm {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.Colorful {
  .App_color_alternate & {
    @include animationAlternate;
  }
  .App_color_white & {
    color: white;
    outline-color: white;
  }
  @each $key, $value, $second-value in $colors-map {
    .App_color_#{$key} & {
      color: $value;
      outline-color: $value;
      &_dark {
        color: rgba($second-value, $dark-alfa);
      }
    }
  }
}

.Title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  @include animation(fadeIn);
  &_smallIndent {
    margin-bottom: 0.16em;
  }
  .App_color_white & {
    color: white;
  }
  @each $key, $value in $colors-map {
    .App_color_#{$key} & {
      color: $value;
    }
  }
  @include lg {
    font-size: 56px;
  }
  @include xs {
    font-size: 42px;
  }
}

.MainText {
  @include animation(fadeInBottom);
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 2em;
  color: $color_second-text;
  &_dark {
    color: $color_text;
  }
  &_noAnimation {
    animation: none;
  }
  @include lg {
    font-size: 26px;
  }
  @include xs {
    font-size: 22px;
  }
}

.Button {
  color: white;
  &:not(:last-child) {
    margin-right: 16px;
  }
  &_color_blue {
    &.MuiButton-text {
      color: $color_dark-blue;
      background-color: rgba($color_blue, 0.2);
      @include hover {
        background-color: rgba($color_blue, 0.4);
      }
    }
  }
  &_color_green {
    &.MuiButton-text {
      color: $color_dark-green;
      background-color: rgba($color_green, 0.2);
      @include hover {
        background-color: rgba($color_green, 0.4);
      }
    }
  }
  &_color_red {
    &.MuiButton-text {
      color: $color_dark-red;
      background-color: rgba($color_red, 0.2);
      @include hover {
        background-color: rgba($color_red, 0.4);
      }
    }
  }
  &_color_white,
  .App_color_white & {
    color: $color_text;
    &,
    &:hover {
      background-color: white;
    }
    @include hover {
      background-color: $color_light-grey;
    }
  }
  @each $key, $value, $second-value in $colors-map {
    .App_color_#{$key} & {
      &.MuiButton-text {
        color: $second-value;
        background-color: rgba($value, 0.2);
        @include hover {
          background-color: rgba($value, 0.4);
        }
      }
    }
  }
  @include xs {
    width: 100%;
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.NavigationButton {
  color: $color_text;
  font-size: 32px;
  height: 54px;
  &.active {
    @extend .Colorful;
  }
  .App_color_white &:not(.active) {
    color: rgba(white, 0.7);
  }
}

.Link {
  font-weight: bold;
  user-select: auto;
  white-space: nowrap;
  transition: text-decoration-color $duration_shortest $easing_out;
  &_white,
  .App_color_white & {
    color: white;
    outline-color: white;
    text-decoration-color: rgba(white, 0.3);
    @include hover {
      text-decoration-color: white;
    }
  }
  @each $key, $value, $second-value in $colors-map {
    .App_color_#{$key} &:not(.Link_white) {
      color: $second-value;
      outline-color: $second-value;
      text-decoration-color: rgba($second-value, 0.3);
      @include hover {
        text-decoration-color: $second-value;
      }
    }
  }
}

.Actions {
  margin-top: 56px;
  &_center {
    text-align: center;
  }
  @include md {
    margin-top: 48px;
  }
}

.ColorInteract {
  position: relative;
  border-radius: $border-radius;
  @each $key, $value in $colors-map {
    &_color_#{$key} {
      color: $value;
      &::before {
        background-color: rgba($value, 0.12);
      }
    }
  }
  &::before {
    @include pseudo;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transform: scale(0.8);
    transition:
      transform $duration_short $easing_in-out,
      opacity $duration_short $easing_in-out;
  }
  & > .MuiTouchRipple-root {
    z-index: 1;
  }
  @include hover {
    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.ButtonIcon {
  font-size: 32px;
}

.Time {
  display: inline-block;
  text-transform: capitalize;
}

.Tabs {
  @include animation(fadeIn);
  margin-bottom: 24px;
}

.Lowercase {
  text-transform: lowercase;
}
