.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.Section {
  position: relative;
  padding: 80px 10%;
  height: 100%;
  &_single {
    padding-left: 5%;
    padding-right: 5%;
  }
  &_pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .App_color_alternate &_colorful {
    @include animationAlternate(alternateBackgroundColor);
  }
  @each $key, $value in $colors-map {
    .App_color_#{$key} &_colorful {
      background-color: $value;
    }
  }

  @include lg {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include md {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }

  @include sm {
    padding: 56px 24px;
  }
}

.Colorful {
  .App_color_alternate & {
    @include animationAlternate;
  }
  .App_color_white & {
    color: white;
    outline-color: white;
  }
  @each $key, $value, $second-value in $colors-map {
    .App_color_#{$key} & {
      color: $value;
      outline-color: $value;
    }
    .App_color_#{$key} &_dark {
      color: $second-value;
    }
  }
}

.Title {
  font-size: 52px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5em;
  .App_color_white & {
    color: white;
  }
  @each $key, $value in $colors-map {
    .App_color_#{$key} & {
      color: $value;
    }
  }
  @include lg {
    font-size: 44px;
  }
  @include sm {
    font-size: 36px;
  }
}

.MainText {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.4em;
  color: $color_second-text;
  &_dark {
    color: $color_text;
  }
  @include lg {
    font-size: 26px;
  }
  @include sm {
    font-size: 22px;
  }
}

.Button {
  color: white;
  &:not(:last-child) {
    margin-right: 16px;
  }
  &_color_blue {
    &.MuiButton-contained {
      background-color: $color_blue;
      @include hover {
        &:hover {
          background-color: $color_dark-blue;
        }
      }
    }
  }
  &_color_green {
    &.MuiButton-contained {
      background-color: $color_green;
      @include hover {
        &:hover {
          background-color: $color_dark-green;
        }
      }
    }
  }
  &_color_white,
  .App_color_white & {
    color: $color_text;
    &,
    &:hover {
      background-color: white;
    }
    @include hover {
      &:hover {
        background-color: $color_light-grey;
      }
    }
  }
  @each $key, $value, $second-value in $colors-map {
    .App_color_#{$key} & {
      &.MuiButton-contained {
        background-color: $value;
        @include hover {
          &:hover {
            background-color: $second-value;
          }
        }
      }
      &.MuiButton-outlined {
        color: $second-value;
        border-color: $second-value;
      }
    }
  }
  @include xs {
    width: 100%;
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.Link {
  user-select: auto;
  .App_color_white & {
    color: white;
    outline-color: white;
  }
  @each $key, $value in $colors-map {
    .App_color_#{$key} & {
      color: $value;
      outline-color: $value;
    }
  }
  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}

.Actions {
  margin-top: 56px;
  &_center {
    text-align: center;
  }
  @include md {
    margin-top: 48px;
  }
  @include sm {
    margin-top: 40px;
  }
}

.ColorInteract {
  position: relative;
  border-radius: $border-radius;
  @each $key, $value in $colors-map {
    &_color_#{$key} {
      color: $value;
      &::before {
        background-color: rgba($value, 0.12);
      }
    }
  }
  &::before {
    @include pseudo;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transform: scale(0.8);
    transition: transform $duration_short $easing_in-out,
      opacity $duration_short $easing_in-out;
  }
  & > .MuiTouchRipple-root {
    z-index: 1;
  }
  @include hover {
    &:hover {
      &::before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.ButtonIcon {
  font-size: 32px;
}
