.page {
  padding-left: $sidebar-width;
  height: 100%;

  &_bg-color_blue {
    background-color: $blue;
  }

  &_bg-color_violet {
    background-color: $violet;
  }

  &_bg-color_green {
    background-color: $green;
  }
}

.section {
  padding: 100px 10%;
  height: 100%;

  &_bg-color_yellow {
    background-color: $yellow;
  }

  &_bg-color_green {
    background-color: $green;
  }

  &_bg-color_blue {
    background-color: $blue;
  }
}

.container {
  height: calc(100vh - 200px);
}

.title {
  font-size: 52px;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 30px;

  &_color_white {
    color: white;
  }

  &_color_green {
    color: $green;
  }
}

.subtitle {
  position: relative;
  font-size: 30px;
  color: $black-60;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 30px;
}

.link {
  color: $blue-two;

  &_color_green {
    color: $green-two;
  }

  &_color_white {
    color: white;
  }

  &:hover {
    text-decoration: underline;
    @include no-hover {
      text-decoration: none;
    }
  }
}

.open-tag {
  margin-bottom: 40px;

  &_white {
    color: white;
  }
}

.close-tag {
  margin-top: 40px;

  &_white {
    color: white;
  }
}

.social-icon {
  width: 26px;
  height: 26px;
  fill: $black;
}

.material-icons {
  @include transit(transform, $standard);

  button:hover & {
    transform: rotate(180deg);
  }
}