$fonts: ('regular' normal, 'bold' bold);

@each $type, $value in $fonts {
  @font-face {
    font-family: 'Neutra Text';
    font-weight: $value;
    font-style: normal;
    font-display: swap;
    src: url('@assets/fonts/neutra-text_#{$type}.woff2') format('woff2'),
      url('@assets/fonts/neutra-text_#{$type}.woff') format('woff');
  }
}
