.f {
  display: flex;
}

.f_i {
  display: flex !important;
}

.f-i {
  display: inline-flex;
}

.fd-c {
  flex-direction: column;
}

.fd-rr {
  flex-direction: row-reverse;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.as-fs {
  align-self: flex-start;
}

.as-c {
  align-self: center;
}

.as-fe {
  align-self: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fe {
  justify-content: flex-end;
}

.fw-w {
  flex-wrap: wrap;
}

.fs-0 {
  flex-shrink: 0;
}

.fb-100 {
  flex-basis: 100%;
}

.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}


