$sidebar-width: 100px;
$header-height: 63px;
$border-radius: 8px;
$backdrop_opacity: 0.33;

$font-size_base: 16px;
$font-size_mobile: 14px;

$color_background: white;
$color_text: #4a4a4a;
$color_second-text: #7b7b7b;
$color_light-grey: #e6e6e6;
$color_default: hsl(0, 0%, 65%);
$color_dark-default: hsl(0, 0%, 57%);
$color_red: #fa8761;
$color_dark-red: #e07957;
$color_yellow: #f7bd40;
$color_dark-yellow: #dba539;
$color_grass: #6ed485;
$color_dark-grass: #5fb974;
$color_green: #2fd0c8;
$color_dark-green: #2db4a8;
$color_blue: #64a6fc;
$color_dark-blue: #5795e0;
$color_violet: #967bef;
$color_dark-violet: #7f64d8;

$duration_shortest: 150ms;
$duration_shorter: 200ms;
$duration_short: 250ms;
$duration_standard: 300ms;
$duration_medium: 500ms;
$duration_medium-long: 650ms;
$duration_long: 800ms;
$duration_longer: 1s;
$duration_longest: 2s;
$duration_lingering: 3s;
$duration_alternate: 20s;

$easing_in-out: cubic-bezier(0.4, 0, 0.2, 1);
$easing_out: cubic-bezier(0, 0, 0.2, 1);

$breakpoint_xs: 399px;
$breakpoint_sm: 599px;
$breakpoint_md: 959px;
$breakpoint_lg: 1279px;

$colors-map: (
  'default' $color_default $color_dark-default,
  'blue' $color_blue $color_dark-blue,
  'green' $color_green $color_dark-green,
  'grass' $color_grass $color_dark-grass,
  'red' $color_red $color_dark-red,
  'yellow' $color_yellow $color_dark-yellow,
  'violet' $color_violet $color_dark-violet
);
