$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$sidebar-width: 100px;
$header-height: 75px;

$color_background: #fafafa;
$color_text: #4a4a4a;
$color_second-text: #7b7b7b;
$color_light-grey: #e6e6e6;
$color_red: #fa8861;
$color_darkRed: #e07a58;
$color_yellow: #f7bc3f;
$color_dark-yellow: #dba539;
$color_grass: #6ed486;
$color_dark-grass: #61ba76;
$color_green: #31d0c9;
$color_dark-green: #2db3a7;
$color_blue: #62a5fc;
$color_dark-blue: #5895e0;
$color_second-blue: #4078c0;
$color_violet: #9170fb;
$color_dark-violet: #8265e0;

$path_technologies: 'assets/img/technologies';

$breakpoint_xs: 599px;
$breakpoint_sm: 959px;
$breakpoint_md: 1279px;

$duration_shortest: 150ms;
$duration_shorter: 200ms;
$duration_short: 250ms;
$duration_standard: 300ms;
$duration_medium: 500ms;
$duration_medium-long: 650ms;
$duration_long: 800ms;
$duration_longer: 1s;
$duration_longest: 2s;
$duration_hello: 3s;
$duration_alternate: 20s;

$easing_in-out: cubic-bezier(0.4, 0, 0.2, 1);
$easing_out: cubic-bezier(0, 0, 0.2, 1);
