@use 'styles/variables' as v;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    transform: translate3d(0, -(v.$effect_delta), 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d(v.$effect_delta, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from {
    transform: translate3d(0, v.$effect_delta, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(-(v.$effect_delta), 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInZoomIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInZoomInSm {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInZoomOut {
  from {
    transform: scale(1.25);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInZoomOutSm {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes alternateColor {
  from {
    color: v.$color_blue;
    outline-color: v.$color_blue;
  }
  16.66% {
    color: v.$color_green;
    outline-color: v.$color_green;
  }
  33.33% {
    color: v.$color_grass;
    outline-color: v.$color_grass;
  }
  50% {
    color: v.$color_red;
    outline-color: v.$color_red;
  }
  66.66% {
    color: v.$color_yellow;
    outline-color: v.$color_yellow;
  }
  83.33% {
    color: v.$color_violet;
    outline-color: v.$color_violet;
  }
  to {
    color: v.$color_blue;
    outline-color: v.$color_blue;
  }
}

@keyframes alternateBackgroundColor {
  from {
    background-color: v.$color_blue;
  }
  16.66% {
    background-color: v.$color_green;
  }
  33.33% {
    background-color: v.$color_grass;
  }
  50% {
    background-color: v.$color_red;
  }
  66.66% {
    background-color: v.$color_yellow;
  }
  83.33% {
    background-color: v.$color_violet;
  }
  to {
    background-color: v.$color_blue;
  }
}

@keyframes alternateBackgroundOpacityColor {
  from {
    background-color: rgba(v.$color_blue, v.$backdrop-opacity);
  }
  16.66% {
    background-color: rgba(v.$color_green, v.$backdrop-opacity);
  }
  33.33% {
    background-color: rgba(v.$color_grass, v.$backdrop-opacity);
  }
  50% {
    background-color: rgba(v.$color_red, v.$backdrop-opacity);
  }
  66.66% {
    background-color: rgba(v.$color_yellow, v.$backdrop-opacity);
  }
  83.33% {
    background-color: rgba(v.$color_violet, v.$backdrop-opacity);
  }
  to {
    background-color: rgba(v.$color_blue, v.$backdrop-opacity);
  }
}

@keyframes alternateBorderColor {
  from {
    border-color: v.$color_blue;
  }
  16.66% {
    border-color: v.$color_green;
  }
  33.33% {
    border-color: v.$color_grass;
  }
  50% {
    border-color: v.$color_red;
  }
  66.66% {
    border-color: v.$color_yellow;
  }
  83.33% {
    border-color: v.$color_violet;
  }
  to {
    border-color: v.$color_blue;
  }
}

@keyframes hello {
  from {
    transform: rotate(8deg) translate3d(2px, 0, 0);
  }
  12% {
    transform: rotate(-12deg) translate3d(-3px, 0, 0);
  }
  24% {
    transform: rotate(16deg) translate3d(4px, 0, 0);
  }
  36% {
    transform: rotate(-16deg) translate3d(-4px, 0, 0);
  }
  48% {
    transform: rotate(12deg) translate3d(3px, 0, 0);
  }
  60% {
    transform: rotate(-12deg) translate3d(-3px, 0, 0);
  }
  72% {
    transform: rotate(8deg) translate3d(2px, 0, 0);
  }
  to {
    transform: rotate(8deg) translate3d(2px, 0, 0);
  }
}

@keyframes ripple {
  from {
    transform: scale(0.85);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes rippleSmall {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes garlandBlink {
  0% {
    fill: v.$color_red-second;
  }
  25% {
    fill: v.$color_yellow-second;
  }
  50% {
    fill: v.$color_green-second;
  }
  75% {
    fill: v.$color_blue-second;
  }
  100% {
    fill: v.$color_red-second;
  }
}
