@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.f {
  display: flex; }

.f_i {
  display: flex !important; }

.f-i {
  display: inline-flex; }

.fd-c {
  flex-direction: column; }

.fd-rr {
  flex-direction: row-reverse; }

.ai-c {
  align-items: center; }

.ai-fs {
  align-items: flex-start; }

.ai-fe {
  align-items: flex-end; }

.as-fs {
  align-self: flex-start; }

.as-c {
  align-self: center; }

.as-fe {
  align-self: flex-end; }

.jc-c {
  justify-content: center; }

.jc-sb {
  justify-content: space-between; }

.jc-fe {
  justify-content: flex-end; }

.fw-w {
  flex-wrap: wrap; }

.fs-0 {
  flex-shrink: 0; }

.fb-100 {
  flex-basis: 100%; }

.fg-1 {
  flex-grow: 1; }

.fg-2 {
  flex-grow: 2; }

.page {
  padding-left: 100px;
  height: 100%; }
  .page_bg-color_blue {
    background-color: #62a5fc; }
  .page_bg-color_green {
    background-color: #31d0c9; }

.section {
  padding: 100px 10%;
  height: 100%; }
  .section_bg-color_yellow {
    background-color: #f7bc3f; }
  .section_bg-color_green {
    background-color: #31d0c9; }
  .section_bg-color_blue {
    background-color: #62a5fc; }
  .section_bg-color_violet {
    background-color: #9170fb; }

.container {
  height: calc(100vh - 200px); }

.title {
  font-size: 52px;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 30px; }
  .title_color_white {
    color: white; }
  .title_color_green {
    color: #31d0c9; }
  .title_color_blue {
    color: #62a5fc; }
  .title_color_violet {
    color: #9170fb; }

.subtitle {
  position: relative;
  font-size: 30px;
  color: rgba(40, 44, 52, 0.6);
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 30px; }
  .subtitle_white {
    color: white; }

.open-tag {
  margin-bottom: 40px; }
  .open-tag_white {
    color: white; }

.close-tag {
  margin-top: 40px; }
  .close-tag_white {
    color: white; }

.social-icon {
  width: 26px;
  height: 26px;
  fill: #282c34; }

/*
.material-icons {
  @include transit(transform, $standard);

  button:hover & {
    transform: rotate(180deg);
  }
}*/
html {
  overflow-y: scroll; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #282c34;
  background-color: white !important; }

h1, h2, h3, h4, h5, h6,
ul,
figure {
  margin: 0; }

p {
  margin-top: 0; }

a {
  user-select: none;
  text-decoration: none; }

ul {
  padding: 0;
  list-style: none; }

code {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; }

address {
  font-style: normal; }
