@import '~slick-carousel/slick/slick.css';

@import 'variables';
@import 'animations';
@import 'utils';
@import 'partials';

html {
  overflow-y: scroll;
}

body {
  font-family: $font-family;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
  background-color: white !important;
}

h1, h2, h3, h4, h5, h6,
ul,
figure {
  margin: 0;
}

p {
  margin-top: 0;
}

a {
  user-select: none;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

code {
  font-family: $font-family;
}

address {
  font-style: normal;
}

img {
  pointer-events: none
}

//for react-slick
* {
  min-height: 0;
  min-width: 0;
}

.slick-list {
  border-radius: 4px;
}

.slick-slide {
  cursor: pointer;
}

.slick-dots {
  margin-top: 10px;
  display: flex !important;
  justify-content: center;
}

.gmnoprint {

}