.Social-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Social-PhotoWrapper {
  position: relative;
  margin-bottom: 48px;
  &::after {
    @include m.pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    transition: opacity v.$duration_medium v.$easing_in-out;
    animation: ripple v.$duration_longest v.$easing_in-out infinite;
  }
  &_hovered::after {
    animation-play-state: paused;
  }
  @include m.xs {
    margin-bottom: 36px;
  }
}

.Social-Photo {
  z-index: 1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid white;
  & > figure {
    border-radius: 50%;
    overflow: hidden;
  }
}

.Social-Image {
  width: 320px;
  height: 320px;
  background-color: white;
  &_hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity v.$duration_standard v.$easing_in-out;
    .Social-Photo:hover & {
      opacity: 1;
    }
  }
  @include m.xs {
    width: 100%;
    height: auto;
  }
}
