@import 'styles/variables';
@import 'styles/mixins';

.Social-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Social-PhotoWrapper {
  position: relative;
  margin-bottom: 48px;
  &::after {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    animation: ripple $duration_longest $easing_in-out infinite;
  }
  @include xs {
    margin-bottom: 36px;
  }
}

.Social-Photo {
  z-index: 1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  & > figure {
    border-radius: 50%;
    overflow: hidden;
  }
}

.Social-Img {
  width: 320px;
  height: 320px;
  background-color: white;
  &_hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity $duration_standard $easing_in-out;
    .Social-Photo:hover & {
      opacity: 1;
    }
  }
  @include xs {
    width: 100%;
    height: auto;
  }
}
