@import 'styles/variables';
@import 'styles/mixins';

.Social-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Social-Photo {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 48px;
  & > figure {
    border-radius: 50%;
    overflow: hidden;
  }
  @include xs {
    margin-bottom: 24px;
  }
}

.Social-Img {
  width: 320px;
  height: 320px;
  background-color: white;
  @include xs {
    width: 100%;
    height: auto;
  }
}
