@import 'styles/variables';

.steps__paper {
  @include animate(bounceInRight);
  @include sm {
    animation: none;
  }
}

.steps__step-content {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 24px;
}

.steps__refresh {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.steps__icon {
  @include transit(transform);

  .steps__button:hover & {
    transform: rotate(90deg);
    @include no-hover {
      transform: none;
    }

    &_type_check {
      transform: scale(1.3);
      @include no-hover {
        transform: none;
      }
    }
  }
}

.steps__refresh-icon {
  @include transit(transform, $standard);

  .steps__button:hover & {
    transform: rotate(360deg) scale(1.3);
    @include no-hover {
      transform: none;
    }
  }
}