@import 'styles/variables';

.arrow {
  background-color: $black-60;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  transform: translateY(-50%);
  z-index: 10;

  &_left {
    left: 10px;
  }

  &_right {
    right: 10px;
  }
}