@import 'styles/variables';

.App {
  display: flex;
  transition: background-color $duration_medium $easing_in-out;
  &_background_blue {
    background-color: $color_blue;
  }
  &_background_green {
    background-color: $color_green;
  }
}

.App-Main {
  min-height: 100vh;
  width: 100%;
  padding-left: $sidebar-width;
}
