@import 'styles/variables';

.Drawer-Content {
  overflow-y: auto;
  height: 100%;
  transition: background-color $duration_standard $easing_in-out;
  .App_background_blue & {
    background-color: $color_blue;
  }
  .App_background_green & {
    background-color: $color_green;
  }
}

.Drawer-Content {
  padding-bottom: 24px;
}

.Drawer-Block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header_height - $header_border-width;
}
