.Drawer-Content {
  overflow-y: auto;
  height: 100%;
  transition: background-color v.$duration_standard v.$easing_in-out;
  @each $key, $value in v.$colors-map {
    .App_background_#{$key} & {
      background-color: $value;
    }
  }
}

.Drawer-Content {
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Drawer-Block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: v.$header_height - v.$header_border-width;
}
