.Garland {
  position: fixed;
  display: flex;
  z-index: 100;
  top: -3px;
  left: calc(50% + 48px);
  transform: translateX(-50%);
  &_header {
    position: absolute;
  }
  @include m.md {
    left: 50%;
  }
  @include m.sm {
    top: -2px;
  }
  @include m.xs {
    top: -1px;
  }
}

.Garland-Item {
  width: 476px;
  height: auto;
  @include m.sm {
    width: 272px;
  }
  @include m.xs {
    width: 204px;
  }
}

.Garland-Lamp {
  animation-name: garlandBlink;
  animation-duration: v.$duration_longest;
  animation-iteration-count: infinite;
  animation-timing-function: v.$easing_in-out;
  &:nth-child(1n) {
    animation-delay: calc(v.$duration_longest / -4 * 3);
  }
  &:nth-child(2n) {
    animation-delay: calc(v.$duration_longest / -4 * 2);
  }
  &:nth-child(3n) {
    animation-delay: calc(v.$duration_longest / -4 * 1);
  }
  &:nth-child(4n) {
    animation-delay: calc(v.$duration_longest / -4 * 0);
  }
}

.Garland-Base {
  stroke: v.$color_text;
}
