.Garland {
  position: fixed;
  display: flex;
  z-index: 100;
  top: 13px;
  left: calc(50% + 48px);
  transform: translateX(-50%) scale(3.5);
  &_header {
    position: absolute;
  }
  @include md {
    top: 11px;
    left: 50%;
    transform: translateX(-50%) scale(3);
  }
  @include sm {
    top: 5px;
    transform: translateX(-50%) scale(2);
  }
  @include xs {
    top: 2px;
    transform: translateX(-50%) scale(1.5);
  }
}

.Garland-Lamp {
  animation-name: garlandBlink;
  animation-duration: $duration_longest;
  animation-iteration-count: infinite;
  animation-timing-function: $easing_in-out;
  &:nth-child(1n) {
    animation-delay: calc($duration_longest / -4 * 3);
  }
  &:nth-child(2n) {
    animation-delay: calc($duration_longest / -4 * 2);
  }
  &:nth-child(3n) {
    animation-delay: calc($duration_longest / -4 * 1);
  }
  &:nth-child(4n) {
    animation-delay: calc($duration_longest / -4 * 0);
  }
}

.Garland-Base {
  stroke: $color_text;
}
