.Header-Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: $header_height;
  border-bottom: $header_border-width solid $color_green;
  background-color: rgba(white, 0.95);
  z-index: 100;
  padding-left: 8px;
  padding-right: 8px;
  transition:
    color $duration_short $easing_in-out,
    background-color $duration_standard $easing_in-out;
  .App_color_alternate & {
    @include animationAlternate(alternateBorderColor);
  }
  .App_color_white & {
    border-color: white;
  }
  @each $key, $value in $colors-map {
    .App_color_#{$key} & {
      border-color: $value;
    }
    .App_background_#{$key} & {
      background-color: rgba($value, 0.95);
    }
  }
}
