@import 'styles/variables';
@import 'styles/mixins';

$background-opacity: 0.95;

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: $header-height;
  border-bottom: 3px solid $color_green;
  background-color: rgba(white, $background-opacity);
  z-index: 100;
  padding-left: $header-padding;
  padding-right: $header-padding;
  transition: color $duration_short $easing_in-out,
    background-color $duration_standard $easing_in-out;
  .App_color_alternate & {
    @include animationAlternate(alternateBorderColor);
  }
  .App_color_white & {
    border-color: white;
  }
  @each $key, $value in $colors-map {
    .App_color_#{$key} & {
      border-color: $value;
    }
  }
  .App_background_blue & {
    background-color: rgba($color_blue, $background-opacity);
  }
  .App_background_green & {
    background-color: rgba($color_green, $background-opacity);
  }
}

.Header-Drawer {
  padding-top: $header-height;
  height: 100%;
  transition: background-color $duration_standard$easing_in-out;
  .App_background_blue & {
    background-color: $color_blue;
  }
  .App_background_green & {
    background-color: $color_green;
  }
}
