@import '/src/styles/variables';

.Message {
  .MuiSnackbarContent-root {
    background-color: white;
    color: $color_text;
    border: 1px solid $color_text;
  }

  /* .MuiSnackbarContent-root {
    background-color: black;
    color: white;
  } */

  .MuiSnackbarContent-message {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.Message-Icon {
  flex-shrink: 0;
}

.Message-Close {
  margin-right: -12px;
  margin-top: -12px;
}
