.Message {
  .MuiSnackbarContent-root {
    background-color: white;
    color: v.$color_text;
    border: 1px solid v.$color_text;
    padding: 6px 72px 6px 16px;
    min-width: 330px;
    @include m.xs {
      min-width: auto;
    }
  }

  .MuiSnackbarContent-message {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.Message-Icon {
  flex-shrink: 0;
}

.Message-Close {
  position: absolute;
  right: 8px;
}
