.Sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}
