@import 'styles/variables';
@import 'styles/mixins';

.Sidebar {
  width: $sidebar-width;
  position: fixed;
  height: 100%;
  padding: 5px 0;
}

.Sidebar-Logo {
  @include hoverFocus {
    transform: scale(1.2) rotate(-15deg);
  }
  font-size: 40px;
  letter-spacing: -6px;
  font-weight: 900;
  line-height: 0.8;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 64px;
  text-align: center;
  display: block;
  transition: transform $duration_standard $easing_in-out,
    color $duration_short $easing_in-out;
  .AppContent_home & {
    @include animationAlternate;
  }
  .AppContent_about & {
    color: $color_green;
  }
  .AppContent_skills & {
    color: $color_blue;
  }
  .AppContent_experience & {
    color: $color_violet;
  }
  .AppContent_portfolio & {
    color: white;
  }
  .AppContent_contact & {
    color: white;
  }
}
