@import 'styles/variables';
@import 'styles/mixins';

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  @include animationAlternate(alternateBackgroundColor);
}

.Banner-Img {
  width: 100%;
  max-width: 599px;
  height: auto;
}
