.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner-Content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Banner-Img {
  width: 100%;
  max-width: 599px;
  height: auto;
}
