@import 'styles/variables';
@import 'styles/mixins';

.Greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Greeting-Block {
  display: flex;
  align-items: center;
}

.Greeting-Icon {
  position: relative;
  bottom: 6px;
  margin-left: 18px;
  animation: hello $duration_lingering $easing_in-out infinite;
  @include lg {
    bottom: 4px;
    width: 50px;
    height: 50px;
    margin-left: 16px;
  }
  @include xs {
    bottom: 2px;
    width: 42px;
    height: 42px;
    margin-left: 14px;
  }
}

.Greeting-Text {
  font-weight: normal;
  margin-bottom: 0;
}

.Greeting-SubText {
  margin-top: 16px;
  margin-bottom: 0;
  align-self: flex-start;
}

.Greeting-Part {
  display: inline-block;
}

.Greeting-Main {
  font-weight: bold;
  @include animationAlternate;
}

.Greeting-First {
  @include animation(fadeIn);
}

.Greeting-Second {
  @include animation(fadeInZoomIn, 300ms);
}

.Greeting-Third {
  @include animation(fadeInBottom, 1s);
  &_order_second {
    animation-delay: 1250ms;
  }
  &_order_third {
    animation-delay: 1500ms;
  }
}

.Greeting-Fourth {
  @include animation(fadeInTop, 1750ms);
}

.Greeting-Fifth {
  @include animation(fadeInRight, 2250ms);
}

.Greeting-Sixth {
  @include animation(fadeInLeft, 2800ms);
}

.Greeting-Seventh {
  @include animation(fadeInBottom, 3250ms);
}

.Greeting-Eighth {
  @include animation(fadeInBottom, 3500ms);
}

.Greeting-Word {
  display: inline-flex;
}

.Greeting-Extra {
  display: flex;
  position: relative;
  top: 0.15em;
  left: 0.2em;
  width: 0.84em;
  height: 1.05em;
  outline-color: $color_yellow;
  transform: rotate(20deg);
  transition: transform $duration_standard $easing_out;
  @include hover {
    &:hover {
      transform: rotate(0) scale(1.2);
    }
  }
}

.Greeting-ExtraImg {
  width: 100%;
  height: 100%;
  @include animation(fadeInZoomOut, 2500ms);
}

.Greeting-Actions {
  margin-bottom: -16px;
}

.Greeting-Button {
  margin-bottom: 16px;
}
