@import 'styles/variables';
@import 'styles/mixins';

.ContactForm-Submit {
  margin-top: 24px;
  margin-bottom: 80px;
  @include md {
    margin-bottom: 64px;
  }
  @include sm {
    margin-bottom: 56px;
  }
}
