@use "sass:math";

@import 'styles/variables';
@import 'styles/mixins';

.Map {
  @include animation(fadeInRight);
  position: fixed;
  width: calc(50% - #{math.div($sidebar-width, 2)});
  height: 100vh;
  right: 0;
  top: 0;
  &_loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include md {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$header_height});
    right: auto;
    top: auto;
    animation: none;
  }
}
