.SuccessDialog {
  padding: 48px;
  text-align: center;
  @include m.sm {
    padding: 32px;
  }
}

.SuccessDialog-Image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  @include m.sm {
    width: 60px;
    height: 60px;
  }
}

.SuccessDialog-Title {
  font-size: 36px;
  margin-bottom: 0.65em;
  @include m.lg {
    font-size: 30px;
  }
  @include m.sm {
    font-size: 26px;
  }
}
