.social-links {
  max-width: 284px;
  width: 100%;
}

.social-links__item {
  position: relative;

  .social-links_round &:first-child,
  .social-links_round &:last-child {
    top: -29px;
  }

  .social-links_round &:nth-child(2) {
    margin-right: 3px;
  }

  .social-links_round &:nth-child(3) {
    margin-left: 3px;
  }

}