@use 'sass:math';

@import 'styles/variables';
@import 'styles/mixins';

.App {
  position: relative;
  display: flex;
  min-width: 320px;
  transition: background-color $duration_standard $easing_in-out;
  &_background_blue {
    background-color: $color_blue;
  }
  &_background_green {
    background-color: $color_green;
  }
  &_background_blue,
  &_background_green {
    &::before {
      @include pseudoGradient;
    }
    ::selection {
      background-color: rgba($color_default, 0.4);
    }
  }
  &_color_alternate {
    ::selection {
      background-color: rgba($color_default, 0.4);
    }
  }
  @each $key, $value in $colors-map {
    &_color_#{$key} {
      ::selection {
        background-color: rgba($value, 0.4);
      }
    }
  }
}

.App-Main {
  min-height: 100vh;
  width: 100%;
  padding-left: $sidebar-width;
  @include md {
    padding-top: math.div($header_height, 2);
    padding-left: 0;
  }
}
