.social {
  background-color: #31d0c9; }

.social__content {
  height: calc(100vh - 30px);
  min-height: 400px; }

.social__item {
  position: relative;
  margin: 0 10px; }
  .social__item:first-child, .social__item:last-child {
    top: -29px; }
