.sidebar {
  width: 100px;
  z-index: 10;
  position: fixed;
  height: 100%;
  padding: 5px 0;
  background-color: transparent; }

.sidebar__logo {
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: color, transform;
  display: block;
  font-size: 40px;
  letter-spacing: -5px;
  font-weight: 900;
  color: white;
  padding: 0 20px;
  margin-bottom: 60px; }
  .sidebar__logo:hover {
    transform: scale(1.2) rotate(-15deg); }
    @media (hover: none) {
      .sidebar__logo:hover {
        transform: none; } }
  .sidebar_various > .sidebar__logo {
    animation-name: variousColors;
    animation-duration: 10s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-direction: normal;
    animation-iteration-count: infinite; }
  .sidebar_red > .sidebar__logo {
    color: #fa8861; }
  .sidebar_yellow > .sidebar__logo {
    color: #f7bc3f; }
  .sidebar_grass > .sidebar__logo {
    color: #6ed486; }
  .sidebar_green > .sidebar__logo {
    color: #31d0c9; }
  .sidebar_blue > .sidebar__logo {
    color: #62a5fc; }
  .sidebar_violet > .sidebar__logo {
    color: #9170fb; }

.sidebar__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: color;
  display: block;
  position: relative;
  padding: 10px 0;
  line-height: 0;
  color: #282c34;
  text-align: center; }
  .sidebar__link::after {
    content: "";
    display: block;
    position: absolute;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    border-radius: 2px;
    opacity: 0; }
    .sidebar_various .sidebar__link::after {
      animation-name: variousBackgroundColors;
      animation-duration: 10s;
      animation-delay: 0ms;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-direction: normal;
      animation-iteration-count: infinite; }
    .sidebar_red .sidebar__link::after {
      background-color: #fa8861; }
    .sidebar_yellow .sidebar__link::after {
      background-color: #f7bc3f; }
    .sidebar_grass .sidebar__link::after {
      background-color: #6ed486; }
    .sidebar_green .sidebar__link::after {
      background-color: #31d0c9; }
    .sidebar_blue .sidebar__link::after {
      background-color: #62a5fc; }
    .sidebar_violet .sidebar__link::after {
      background-color: #9170fb; }
  .sidebar__link:hover, .sidebar__link:focus {
    color: white; }
    .sidebar_various .sidebar__link:hover, .sidebar_various .sidebar__link:focus {
      animation-name: variousColors;
      animation-duration: 2s;
      animation-delay: 0ms;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-iteration-count: infinite; }
    .sidebar_red .sidebar__link:hover, .sidebar_red .sidebar__link:focus {
      color: #fa8861; }
    .sidebar_yellow .sidebar__link:hover, .sidebar_yellow .sidebar__link:focus {
      color: #f7bc3f; }
    .sidebar_grass .sidebar__link:hover, .sidebar_grass .sidebar__link:focus {
      color: #6ed486; }
    .sidebar_green .sidebar__link:hover, .sidebar_green .sidebar__link:focus {
      color: #31d0c9; }
    .sidebar_blue .sidebar__link:hover, .sidebar_blue .sidebar__link:focus {
      color: #62a5fc; }
    .sidebar_violet .sidebar__link:hover, .sidebar_violet .sidebar__link:focus {
      color: #9170fb; }
  .sidebar__link:focus {
    outline: 0; }
  .sidebar__link_active {
    color: white; }
    .sidebar_various .sidebar__link_active {
      animation-name: variousColors;
      animation-duration: 10s;
      animation-delay: 0ms;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-direction: normal;
      animation-iteration-count: infinite; }
    .sidebar_red .sidebar__link_active {
      color: #fa8861; }
    .sidebar_yellow .sidebar__link_active {
      color: #f7bc3f; }
    .sidebar_grass .sidebar__link_active {
      color: #6ed486; }
    .sidebar_green .sidebar__link_active {
      color: #31d0c9; }
    .sidebar_blue .sidebar__link_active {
      color: #62a5fc; }
    .sidebar_violet .sidebar__link_active {
      color: #9170fb; }
    .sidebar__link_active::after {
      opacity: 1; }
