@import 'styles/variables';
@import 'styles/mixins';

.CompanyLink {
  padding: 12px;
  margin-left: -12px;
  margin-right: -12px;

  @include md {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.CompanyLink-Img {
  @include md {
    height: 32px;
  }
}
