@import 'styles/variables';

.Features:last-child {
  margin-top: 16;
}

.Features-Item {
  text-align: center;
  font-size: 17px;
}

.Features-Icon {
  font-size: 32px;
  color: $color_second-text;
}
