@import 'styles/variables';
@import 'styles/mixins';

.SocialLinks {
  display: flex;
  justify-content: center;
}

.SocialLinks-Item {
  margin-left: 8px;
  margin-right: 8px;
  .SocialLinks_about > & {
    position: relative;
    &:first-child,
    &:last-child {
      bottom: 64px;
    }
    &:nth-child(2),
    &:nth-child(5) {
      bottom: 20px;
    }
    &:nth-child(2) {
      margin-left: 4px;
      margin-right: 6px;
    }
    &:nth-child(5) {
      margin-right: 4px;
      margin-left: 6px;
    }
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
