@import 'styles/variables';
@import 'styles/mixins';

$size_xs: 1.25rem;
$size_sm: 1.375rem;
$size_md: 1.5rem;
$size_lg: 1.75rem;
$xs-margin: 0 8px 16px 8px;

.SocialLinks {
  display: flex;
  justify-content: center;
  @include xs {
    flex-wrap: wrap;
    padding-left: 14.5%;
    padding-right: 14.5%;
    margin-bottom: -16px;
  }
}

.SocialLinks-Item {
  margin-left: 8px;
  margin-right: 8px;
  .SocialLinks_about > & {
    position: relative;
    &:first-child,
    &:last-child {
      margin-left: 0;
      margin-right: 0;
      bottom: 62px;
    }
    &:nth-child(2),
    &:nth-child(5) {
      bottom: 20px;
    }
    &:nth-child(2) {
      margin-left: 4px;
      margin-right: 6px;
    }
    &:nth-child(5) {
      margin-right: 4px;
      margin-left: 6px;
    }
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  @include lg {
    .SocialLinks_about > & {
      &:first-child,
      &:last-child {
        margin-left: 2px;
        margin-right: 2px;
      }
      &:nth-child(2),
      &:nth-child(5) {
        bottom: 26px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        bottom: 8px;
      }
    }
  }
  @include md {
    .SocialLinks_about > & {
      &:first-child,
      &:last-child {
        margin-left: 0;
        margin-right: 0;
      }
      &:nth-child(2),
      &:nth-child(5) {
        bottom: 20px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        bottom: 0;
      }
    }
  }
  @include sm {
    .SocialLinks_about > & {
      &:first-child,
      &:last-child {
        margin-left: 2px;
        margin-right: 2px;
      }
      &:nth-child(2),
      &:nth-child(5) {
        bottom: 26px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        bottom: 8px;
      }
    }
  }
  @include xs {
    margin-bottom: 16px;
    .SocialLinks_about > & {
      &:first-child,
      &:last-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        margin: $xs-margin;
        bottom: auto;
      }
    }
  }
}

.SocialLinks-Icon {
  &_size_xs {
    width: $size_xs;
    height: $size_xs;
  }
  &_size_sm {
    width: $size_sm;
    height: $size_sm;
  }
  &_size_md {
    width: $size_md;
    height: $size_md;
  }
  &_size_lg {
    width: $size_lg;
    height: $size_lg;
  }
}
