.Job {
  &.Mui-expanded {
    margin-top: 0;
    margin-bottom: 0;
  }
  &::before {
    display: none;
  }
  &:not(:last-child)::after {
    @include pseudo;
    bottom: 0;
    background-color: rgba(black, 0.12);
    height: 1px;
    width: 100%;
  }
}

.Job-Company {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 1.8rem;
  @include xs {
    justify-content: flex-start;
    padding-left: 0;
  }
}

.Job-Content {
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  @include xs {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}

.Job-Occupations {
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 1.5em;
}

.Job-Occupation {
  font-weight: normal;
  font-size: 1.25rem;
  color: $color_second-text;
  &_last {
    color: $color_text;
  }
  &_current {
    & > span {
      position: relative;
      display: inline-block;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.Job-Badge {
  position: absolute;
  display: flex;
  right: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $color_violet;
    animation: rippleSmall $duration_longest $easing_in-out infinite;
  }
  &::after {
    @include pseudo(relative);
    margin: auto;
    width: 8px;
    height: 8px;
    background-color: $color_violet;
    border-radius: 50%;
  }
}

.Job-UpIcon {
  position: relative;
  top: 4px;
  transform: rotate(-90deg);
  color: $color_light-grey;
}

.Job-Block {
  margin-bottom: 24px;
}

.Job-SubTitle {
  margin-bottom: 1em;
  gap: 0.5em;
  display: inline-flex;
  align-items: center;
  & > svg {
    color: rgba($color_dark-violet, $dark-alfa);
  }
}

.Job-SubTitleText {
  padding-top: 0.2em;
}

.Job-Items {
  list-style: disc;
  padding-left: 18px;
}

.Job-Item {
  &:not(:last-child) {
    margin-bottom: 0.35em;
  }
}

.Job-Features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  margin-right: -4px;
  margin-bottom: -4px;
  margin-left: -4px;
}
