@import 'styles/variables';
@import 'styles/mixins';

.Job {
  &.Mui-expanded {
    margin-top: 0;
    margin-bottom: 0;
  }

  &::before {
    display: none;
  }

  &:not(:last-child)::after {
    @include pseudo;
    bottom: 0;
    background-color: rgba(black, 0.12);
    height: 1px;
    width: 100%;
  }
}

.Job-Content {
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;

  @include xs {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}

.Job-Positions {
  margin-bottom: 28px;
}

.Job-Position {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.Job-Occupation {
  font-size: 1.125rem;
  margin-bottom: 1em;
  font-weight: bold;
}

.Job-Duties {
  list-style: disc;
  padding-left: 18px;
  font-size: 1.125rem;
}

.Job-Duty {
  &:not(:last-child) {
    margin-bottom: 0.35em;
  }
}

.Job-Features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -4px;
}
