@import 'styles/variables';
@import 'styles/mixins';

.Stepper-Text {
  padding-top: 8px;
  margin-bottom: 24px;
  &_last {
    padding-top: 16px;
  }
}

.Stepper-Actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.Stepper-Button {
  color: $color_dark-violet;
  background-color: rgba($color_violet, 0.2);
  &:not(:first-child) {
    margin-right: 8px;
  }
  @include hover {
    &:hover {
      background-color: rgba($color_violet, 0.4);
      .Stepper-ButtonIcon {
        transform: rotate(90deg);
        &_refresh {
          transform: rotate(360deg) scale(1.3);
        }
      }
    }
  }
}

.Stepper-ButtonIcon {
  font-size: 24px;
  transform: rotate(0deg);
  transition: transform $duration_short $easing_in-out;
  &_refresh {
    transform: rotate(0deg) scale(1);
    transition: transform $duration_medium $easing_in-out;
  }
}
