.Timeline-Title {
  font-size: 1.2rem;
  padding-top: 20px;
  padding-inline: 24px;
  font-weight: bold;
}

.Timeline-Text {
  padding-top: 8px;
  margin-bottom: 24px;
  &_last {
    text-align: center;
    padding-top: 16px;
  }
}

.Timeline-Button {
  color: v.$color_dark-violet;
  background-color: rgba(v.$color_violet, 0.2);
  @include m.hover {
    background-color: rgba(v.$color_violet, 0.4);
    .Timeline-ButtonIcon {
      transform: rotate(90deg);
      &_refresh {
        transform: rotate(360deg) scale(1.3);
      }
    }
  }
}

.Timeline-ButtonIcon {
  font-size: 24px;
  transform: rotate(0deg);
  transition: transform v.$duration_short v.$easing_in-out;
  &_refresh {
    transform: rotate(0deg) scale(1);
    transition: transform v.$duration_medium v.$easing_in-out;
  }
}
