$padding_st: 12px;
$padding_sm: 10px;

$img-height_st: 36px;
$img-height_sm: 30px;

.Company {
  padding: $padding_st;
  &_animated {
    @include animation(fadeInTop);
    margin-left: -$padding_st;
    margin-right: -$padding_st;
  }
  @include lg {
    padding: $padding_sm;
    &_animated {
      margin-left: -$padding_sm;
      margin-right: -$padding_sm;
    }
  }
  @include md {
    padding: $padding_st;
    &_animated {
      margin-left: -$padding_st;
      margin-right: -$padding_st;
    }
  }
  @include sm {
    padding: $padding_sm;
    &_animated {
      margin-left: -$padding_sm;
      margin-right: -$padding_sm;
    }
  }
}

.Company-Img {
  height: $img-height_st;
  @include lg {
    height: $img-height_sm;
  }
  @include md {
    height: $img-height_st;
  }
  @include sm {
    height: $img-height_sm;
  }
}
