@import 'styles/variables';
@import 'styles/mixins';

.Copyright {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 12px;
  color: white;
  text-align: center;
  font-size: 14px;
  @include sm {
    bottom: 10px;
  }
}

.Copyright-Icon {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.Copyright-Link {
  font-weight: bold;
  color: white;
  outline-color: white;
  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}
