@import '/src/styles/variables';

.Features:last-child {
  margin-top: 16px;
}

.Features-Item {
  text-align: center;
}

.Features-Icon {
  font-size: 2rem;
  margin-bottom: 0.16em;
}

.Features-Label {
  font-size: 1.15rem;
}

.Features-Description {
  font-size: $font-size_smaller;
  padding-top: 12px;
  color: $color_second-text;
}
