@import 'styles/variables';
@import 'styles/mixins';

.Logo {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  transition: transform $duration_standard $easing_out,
    color $duration_short $easing_in-out;
  @include hover {
    &:hover {
      transform: scale(1.15) rotate(-10deg);
    }
  }
  @include md {
    padding: 8px 6px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 14px;
    width: 66px;
    @include hover {
      &:hover {
        transform: scale(1.15) rotate(10deg);
      }
    }
  }
}
