@import 'styles/variables';
@import 'styles/mixins';

$pages: 'about', 'skills', 'experience', 'portfolio', 'contact';

.Navigation {
  position: relative;
  width: $sidebar-width;
  &::after {
    @include pseudo;
    top: 0;
    right: 0;
    width: 8px;
    height: 54px;
    border-radius: $border-radius / 2;
    transition: transform $duration_medium-long $easing_out,
      background-color $duration_short $easing_in-out;
    @for $index from 1 through length($pages) {
      $page: nth($pages, $index);
      .App_page_#{$page} & {
        transform: translate3d(0, 54px * $index, 0);
      }
    }
    .App_color_alternate & {
      @include animationAlternate(alternateBackgroundColor);
    }
    .App_color_white & {
      background-color: white;
    }
    @each $key, $value in $colors-map {
      .App_color_#{$key} & {
        background-color: $value;
      }
    }
  }
  .Header-Drawer > & {
    padding-bottom: 24px;
  }
}

.Navigation-Link {
  font-size: 32px;
  height: 54px;
  .App_color_white &:not(.Colorful) {
    color: rgba(white, 0.7);
  }
}
