@import 'styles/variables';
@import 'styles/mixins';

.Pagination {
  position: relative;
  .App_background_blue & {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  @include md {
    .App_background_blue & {
      width: 100%;
    }
  }
}

.Pagination-Links {
  @include xs {
    flex-direction: column-reverse;
  }
}

.Pagination-Link {
  color: white;
  background-color: rgba(white, 0.1);
  @include hover {
    &:hover {
      background-color: rgba(white, 0.2);
    }
  }
}
