@import 'styles/variables';
@import 'styles/mixins';

.SocialLinks {
  display: flex;
  justify-content: center;
  @include xs {
    flex-wrap: wrap;
    padding-left: 14.5%;
    padding-right: 14.5%;
    margin-bottom: -16px;
  }
}

.SocialLinks-Item {
  margin-left: 8px;
  margin-right: 8px;
  .SocialLinks_about > & {
    position: relative;
    &:first-child,
    &:last-child {
      bottom: 12px;
    }
  }
}

.SocialLinks-Icon {
  &_size_xs {
    width: 20px;
    height: 20px;
  }
  &_size_sm {
    width: 22px;
    height: 22px;
  }
  &_size_md {
    width: 24px;
    height: 24px;
  }
  &_size_lg {
    width: 28px;
    height: 28px;
  }
  @include sm {
    &_size_xs {
      width: 18px;
      height: 18px;
    }
    &_size_sm {
      width: 19px;
      height: 19px;
    }
    &_size_md {
      width: 21px;
      height: 21px;
    }
    &_size_lg {
      width: 24px;
      height: 24px;
    }
  }
}
