.SocialLinks {
  display: flex;
  justify-content: center;
  @include m.xs {
    flex-wrap: wrap;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: -16px;
    &_about {
      padding-left: 14.5%;
      padding-right: 14.5%;
    }
  }
}

.SocialLinks-Item {
  margin-left: 8px;
  margin-right: 8px;
  .SocialLinks_about > & {
    position: relative;
    &:first-child,
    &:last-child {
      margin-left: 0;
      margin-right: 0;
      bottom: 62px;
    }
    &:nth-child(2),
    &:nth-child(5) {
      bottom: 20px;
    }
    &:nth-child(2) {
      margin-left: 4px;
      margin-right: 6px;
    }
    &:nth-child(5) {
      margin-right: 4px;
      margin-left: 6px;
    }
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  @include m.lg {
    .SocialLinks_about > & {
      &:first-child,
      &:last-child {
        margin-left: 2px;
        margin-right: 2px;
      }
      &:nth-child(2),
      &:nth-child(5) {
        bottom: 26px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        bottom: 8px;
      }
    }
  }
  @include m.md {
    .SocialLinks_about > & {
      &:first-child,
      &:last-child {
        margin-left: 0;
        margin-right: 0;
      }
      &:nth-child(2),
      &:nth-child(5) {
        bottom: 20px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        bottom: 0;
      }
    }
  }
  @include m.sm {
    .SocialLinks_about > & {
      &:first-child,
      &:last-child {
        margin-left: 2px;
        margin-right: 2px;
      }
      &:nth-child(2),
      &:nth-child(5) {
        bottom: 26px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        bottom: 8px;
      }
    }
  }
  @include m.xs {
    margin-bottom: 16px;
    .SocialLinks_about > & {
      &:first-child,
      &:last-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        margin: 0 8px 16px 8px;
        bottom: auto;
      }
    }
  }
}

.SocialLinks-Icon {
  &_size_xs {
    width: 20px;
    height: 20px;
  }
  &_size_sm {
    width: 22px;
    height: 22px;
  }
  &_size_md {
    width: 24px;
    height: 24px;
  }
  &_size_lg {
    width: 28px;
    height: 28px;
  }
  &_size_xl {
    width: 32px;
    height: 32px;
  }
  @include m.sm {
    &_size_xs {
      width: 18px;
      height: 18px;
    }
    &_size_sm {
      width: 19px;
      height: 19px;
    }
    &_size_md {
      width: 21px;
      height: 21px;
    }
    &_size_lg {
      width: 24px;
      height: 24px;
    }
    &_size_xl {
      width: 28px;
      height: 28px;
    }
  }
}
