.info__list {
  padding-left: 20px;
  list-style-type: disc;
  margin-bottom: 20px;
}

.info__item {
  margin-bottom: 10px;
}

.info__sublist {
  padding-left: 40px;
  list-style-type: circle;
}

.info__sub-item {
  margin-top: 10px;
}