@import 'styles/variables';

.sidebar {
  width: $sidebar-width;
  z-index: 10;
  position: fixed;
  height: 100%;
  padding: 5px 0;
  background-color: transparent;
}

.sidebar__logo {
  @include transit((color, transform));
  padding: 15px 20px;
  margin-bottom: 60px;

  &:hover {
    transform: scale(1.2) rotate(-15deg);
    @include no-hover {
      transform: none;
    }
  }

  .sidebar_various > & {
    @include animate(variousColors, 10s, 0ms, infinite);
  }

  .sidebar_red > & {
    color: $red;
  }

  .sidebar_yellow > & {
    color: $yellow;
  }

  .sidebar_grass > & {
    color: $grass;
  }

  .sidebar_green > & {
    color: $green;
  }

  .sidebar_blue > & {
    color: $blue;
  }

  .sidebar_violet > & {
    color: $violet;
  }
}

.sidebar__navigation {
  position: relative;

  &::after {
    @include pseudo();
    @include transit(transform, $standard);
    top: 0;
    right: 0;
    width: 5px;
    height: 52px;
    background-color: white;
    border-radius: 2px;

    .sidebar_page_home > & {
      transform: translate3d(0, 0, 0);
    }

    .sidebar_page_about > & {
      transform: translate3d(0, 52px, 0);
    }

    .sidebar_page_skills > & {
      transform: translate3d(0, 104px, 0);
    }

    .sidebar_page_experience > & {
      transform: translate3d(0, 156px, 0);
    }

    .sidebar_page_portfolio > & {
      transform: translate3d(0, 208px, 0);
    }

    .sidebar_page_contact > & {
      transform: translate3d(0, 260px, 0);
    }

    .sidebar_various > & {
      @include animate(variousBackgroundColors, 10s, 0ms, infinite);
    }

    .sidebar_red > & {
      background-color: $red;
    }

    .sidebar_yellow > & {
      background-color: $yellow;
    }

    .sidebar_grass > & {
      background-color: $grass;
    }

    .sidebar_green > & {
      background-color: $green;
    }

    .sidebar_blue > & {
      background-color: $blue;
    }

    .sidebar_violet > & {
      background-color: $violet;
    }
  }
}

.sidebar__link {
  @include transit(color);
  display: block;
  position: relative;
  padding: 10px 0;
  line-height: 0;
  color: $black;
  text-align: center;

  &:hover,
  &:focus {
    color: white;

    .sidebar_various & {
      @include animate(variousColors, 2s, 0ms, infinite, linear);
    }

    .sidebar_red & {
      color: $red;
    }

    .sidebar_yellow & {
      color: $yellow;
    }

    .sidebar_grass & {
      color: $grass;
    }

    .sidebar_green & {
      color: $green;
    }

    .sidebar_blue & {
      color: $blue;
    }

    .sidebar_violet & {
      color: $violet;
    }
  }

  &:focus {
    outline: 0;
  }

  &_active {
    color: white;

    .sidebar_various & {
      @include animate(variousColors, 10s, 0ms, infinite);
    }

    .sidebar_red & {
      color: $red;
    }

    .sidebar_yellow & {
      color: $yellow;
    }

    .sidebar_grass & {
      color: $grass;
    }

    .sidebar_green & {
      color: $green;
    }

    .sidebar_blue & {
      color: $blue;
    }

    .sidebar_violet & {
      color: $violet;
    }

    &::after {
      opacity: 1;
    }
  }
}