.poster {
  animation-name: variousBackgroundColors;
  animation-duration: 10s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  height: 100%; }

.poster__image {
  animation-name: fadeIn;
  animation-duration: 800ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
  opacity: 0;
  position: relative;
  max-width: 100%; }
  @media (max-width: 959px) {
    .poster__image {
      animation: none;
      opacity: 1; } }
